<p>Hello <%= @user %></p>
<p>Welcome to Presents in the Post.</p>
<p>These are your password is: <%= @password %>.</p>
<p>Have you read <a href='http://www.presentsinthepost.co.za/the_story'>The story</a> yet?<br />
	 Also, have a look at <a href='http://www.presentsinthepost.co.za/raj_loves'>Raj Loves</a> to get a feel for things.<br/>
	 <a href='http://www.presentsinthepost.co.za/today'>Today</a> will keep you in the know.<br /> 
	If you’re in the browsing mood start your wishlist in the <a href='http://www.presentsinthepost.co.za/shops'>Shop</a>.
</p> 
<p>Don’t be shy to say hi.<br />
<a href="https://www.twitter.com/intent/user?screen_name=raj_presents">@raj_presents</a><br />
<a href="http://www.facebook.com/presentsinthepost">Facebook</a><br />
<a href="mailto:raj@presentsinthepost.co.za">raj@presentsinthepost.co.za</a>
</p>
<p>
	x
</p>