<a href='<%= shop_product_path(product.shop, product)  %>'>
<div class='product'>
    <div>
    <%= image_tag product.images.first.file_url(:story) %>
    <h4><%= product.name %></h4>
    </div>
    <div class='price'>
    <h5><%= number_to_currency product.price %></h5>
    </div>
</div>
</a>
