<% if @shops && @shops.count > 0 %>
<div id='shop_window_container'>
<%= render @shops %>
</div>
<p>
<% else %>
<p>
	Once Raj has delivered all the presents, check out the shop for more designs by the monthly maker.
</p>
<% end %>
