<h1>
    Shops
</h1>
<% if @user && @user[:admin] %>
    <ul>
        <% @shops.each do |s| %>
            <li><%= s.name %></li>
        <% end %>
    </ul>
<% else %>
    <%= render @shops %>
<% end %>
