<h2 class=><%= @shop.name %></h2>
<% if @shop.online %>
    <p>
        <span class='shop_bio'><%= @shop.description %></span>
    </p>  
  	<div id='shop_product_container'>
    	<%= render :partial => 'product', :collection => @shop.products %>
	</div>
<% else %>
    This shop is currently offline. Please check back later.
<% end %>
<div id='logo_container'>
	<%= image_tag @shop.logo.file_url%>
</div>	