<div>
<div id="phone">
	<%= image_tag 'telephone.jpg'%>
</div>
<div id="contact_details">
<p>082 603 0986</p>
<p><a href='http://twitter.com/raj_presents/'>@raj_presents</p>
<p><a href='mailto:raj@presentsintheposts.co.za'>raj@presentsintheposts.co.za</a></p>
<p><a href='http://www.facebook.com/presentsinthepost'>Facebook</a></p>
</div>
</div>