<%= content_for :prenav do %>
<div class='tagline'>Surprise present service and online shop.</div>
<div id='three_pictures'>
    <%= image_tag '3steps.png' %>
</div>
<% end %>

<%= render 'image_scroller', :images => @scroller_images %>

<div id='home_footer'>
    
</div>
