<%= content_for :head do %>
    <style type='text/css'>
		#content
		{
			padding: 0px !important;
		}
    </style>
<% end %>
<iframe width="100%" height="166" scrolling="no" frameborder="no" style="padding: 20px;" src="http://w.soundcloud.com/player/?url=http%3A%2F%2Fapi.soundcloud.com%2Ftracks%2F63411062&amp;auto_play=false&amp;show_artwork=false&amp;color=F6F4E2"></iframe>
<%= image_tag 'story.jpg' %>
<div class='info_container'>
	<h3>About</h3>
<p class='about'>
Presents in the post is a Surprise Present service and an online Shop.  
If you sign up, Raj will send you things by local makers in the post.
Makers of things to hang on the wall, 
Makers of things to wear on your feet, 
Makers of things to DIY,
Makers of things to take on a trip,   
Makers of things to keep up your pants, 
Makers of things to give to a friend.
As soon as all the presents have been delivered and unwrapped, the shop will be open for perusal. A chance to explore more things made by the monthly maker.
</p>
<h3>FAQ's</h3>
<ol>
	<li><span class='question'>What happens if my parcel gets misplaced on Raj’s travels?</span>
	<p class='answer'>
	Let us know and we will send you another present at no cost to you. This time we will make sure Raj tucks it under his turban.
	</p>
	</li>
	<li>
	<span class='question'>If I get a present in the post or buy something in the shop that doesn’t fit me will you exchange it?</span>
	<p class='answer'>
	Post it back to us and Raj will ask the designer to stitch you up a new one.
	</p>
	</li>
	<li><span class='question'>
	What happens if I get a Present in the Post that isn’t to my liking?</span>
	<p class='answer'>
	Put it in your Present cupboard or spoil a friend.
	</p>
	</li>
	<li><span class='question'>
	How much does a Present cost?</span>
	<p class='answer'>
	1 month – R250 incl. tax and delivery <br />
	3 months – R700 incl. tax and delivery <br />
	6 months – R1350 incl. tax and delivery <br />
	</p>
	</li>
	<li><span class='question'>
	How do I pay for things on Presents in the Post?</span>
	<p class='answer'>
	There is an online credit card facility that is the preferred method of payment. If you would like to pay by EFT then don't be shy to say hi. <a href='mailto:raj@presentsinthepost.co.za'>raj@presentsinthepost.co.za</a> 
	</p> 
	<li><span class='question'>
	How does my surprise present get to me?</span>
	<p class='answer'>
	All presents are delivered by the Post Office. Presents are insured and trackable. The Postman will deliver a slip to the address that you listed so that you  will know when to pick it up.
	</p>
	</li>
	<li><span class='question'>
	How long does it take for my surprise present to come to my house?</span>
	<p class='answer'>
	All presents are sent out at the end of the month at the same time. It’s a surprise remember. Presents will take up to two weeks from the day it’s strapped to the Postman’s bicycle.
	</p>
	</li>
	<li><span class='question'>
	How do items I buy in the shop get to my house?</span>
	<p class='answer'>
	Raj will arrange a time with you for a friendly courier to deliver to your door.
	</p>
	</li>
	<li><span class='question'>
	How long does it take for items in the shop to get to my house?</span>
	<p class='answer'>
	All items in the shop are individually stitched, drawn, knitted, taped and measured.  As soon as you have made an order, Raj will contact the maker and let you know how long it will take. Once the item is made the courier service will deliver to your door which takes up to 2 days.
	</p>
	</li>
	<li><span class='question'>
	Where does Presents in the Post deliver?</span>
	<p class='answer'>
	We deliver anywhere in South Africa. If you are an oversees shopper, please send me a mail. 
	<a href='mailto:raj@presentsinthepost.co.za'>raj@presentsinthepost.co.za</a>
	</p>
	</li>
</ol>
</div>