<%= content_for :head do %>
    <style type='text/css'>
		#content
		{
			padding: 0px !important;
		}
    </style>
<% end %>

<%= image_tag 'story.jpg' %>
<div class='info_container'>
<p>
Presents in the post is a Surprise Present service and an online Shop.  
</p>
<p>
If you sign up, Raj will send you things by local makers in the post.  <p />
Makers of things to hang on the wall, <p />
Makers of things to wear on your feet, <p />
Makers of things to DIY, <p />
Makers of things to take on a trip, <p />  
Makers of things to keep up your pants, <p />
Makers of things to give to a friend. <p />
</p>
<p>
As soon as all the presents have been delivered and unwrapped, the shop will be open for perusal. A chance to explore more things made by the monthly maker.
</p>
<h3>FAQ's</h3>
<ol>
	<li>What happens if my parcel gets misplaced on Raj’s travels?<br />
	Let us know and we will send you another present at no cost to you. This time we will make sure Raj tucks it under his turban.
	</li>
	<li>
	If I get a present in the post or buy something in the shop that doesn’t fit me will you exchange it?<br />
	Post it back to us and Raj will ask the designer to stitch you up a new one.
	</li>
	<li>
	What happens if I get a Present in the Post that isn’t to my liking?<br />

	Put it in your Present cupboard or spoil a friend.
	</li>
	<li>
	How much does a Present cost?<br />
	1 month – R250
	3 months – R700
	6 months – R1350
	</li>
	<li>
	How does my surprise present get to me?<br />

	All presents are delivered by the Post Office. Presents are insured and track able.    The Postman will deliver a slip to the address that you listed so that you  will know when to pick it up.
	</li>
	<li>
	How long does it take for my surprise present to come to my house?<br />

	All presents are sent out at the end of the month at the same time. It’s a surprise remember. Presents will take up to two weeks from the day it’s strapped to the Postman’s bicycle.
	</li>
	<li>
	How do items I buy in the shop get to my house?<br />

	Raj will arrange a time with you for a friendly courier to deliver to your door.
	</li>
	<li>
	How long does it take for items in the shop to get to my house?<br />

	All items in the shop are individually stitched, drawn, knitted, taped and measured.  As soon as you have made an order, Raj will contact the maker and let you know how long it will take. Once the item is made the courier service will deliver to your door which takes up to 2 days.
	</li>
</ol>
</div>