<div class='story_container'>
    <h2>
        <%= story.title %>
    </h2>
    <div class='images'>
        <%= image_tag story.images[0].file_url(:story).to_s, :class => 'main_image' unless story.images.empty? %>
        <% if story.images.count > 1 %>
            <% story.images.drop(1).each do |image| %>
                <%= image_tag image.file_url(:story).to_s, :class => 'sub_image '%>
            <% end %>
        <% end %>
    </div>
    <div class='story'>
        <%= simple_format h story.content.html_safe %>
    </div>
</div>
