<p>
Hi <%= @recipient %>
</p>
<p>
Thank you for ordering from presents in the post.
</p>
<p>
Your reference number for this order is: <%= @order.ref_no %>
</p>
<p>
In order to complete this purchase please deposit <%= number_to_currency @order.total %> into our bank account:
</p>
<p>
Standard Bank<br />
Thibault Square <br />
Branch code: 2089<br />
Account number: 070329362<br />
</p>
<p>
Using your reference number as a beneficiary reference.
</p>
<p>
Sincerly,<br />
Raj
</p>
<p>
Presents in the Post
</p>
<%= image_tag attachments['signature.jpg'].url %>