<p>
Hi <%= @recipient %>
</p>
<p>
Thank you for ordering from presents in the post.
</p>
<p>
Your reference number for this order is: <%= @order.ref_no %>
</p>
<p>
In order to complete this purchase please deposit <%= number_to_currency @order.total %> into our bank account:
</p>
<p>
Standard Bank<br />
0024232342<br />
3283942042<br />
</p>
<p>
Using your reference number as a beneficiary reference.
</p>
<p>
Sincerly,<br />
Raj
</p>
<p>
Presents in the Post
</p>

