<p>
	Hi Pammi-Joy
</p>
<p>
	We just received a new order for <%= @order.product.name %> from <%= @customer.name %>.
</p>
<p>
	Please remember to check that you have received the money, even if the system has registered a payment.
</p>
<p>
	Yay, for a sale! Well done.<br/>
	Raj
</p>	