<p>Fantastic!</p> 
<p>
Your order has been received. 
</p>
<ul>
<% @order.order_items.each do |i| %>
	<li><%= "#{i.name} from #{i.shop}." %></li>
<% end %>
</ul>
<p>
Please use this order number for any queries (<%= @order.ref_no %>). <br />
Raj will tell the makers to get stitching and knocking.
</p>
<% unless @order._type == 'PresentProduct' %>
<p>
He will be in touch to arrange the delivery to your door.
</p>
<% end %>
<p>
x
</p>
<%= image_tag attachments['signature.jpg'].url %>