Hi <%= @recipient %>
</p>
<p>
Thank you for ordering from presents in the post.
</p>
<p>
Your reference number for this order is: <%= @order.ref_no %>
</p>
<p>
We have received your payment and I will do my best to get your present to you as soon as possible.
</p> 
<p>
Sincerly,<br />
Raj
</p>
<p>
Presents in the Post
</p>
