.hidden
{
  display: none;
}

body
{
  background: url('../images/wallpaper.jpg');
  background-color: #F6F4E4;
  background-attachment: fixed;
  margin: 0;
  padding: 0;
  
  position: relative;
  font-family: 'Quattrocento', serif;
  letter-spacing: 0.1em;
  font-size: 14px;
}


h1,h2,h3,h4,h5,h6
{
  font-family: 'Cantata One', serif;
  font-weight: normal;
}
h1
{
  font-size: 34px;
}
h2
{
  font-size: 30px;
}
h3
{
  font-size: 26px;
}
h4
{
  font-size: 16px;
}
form
{
  input, textarea
  {
    border: dashed 2px #e0e0e0;
    font-family: 'Quattrocento', serif;
  }
  textarea
  {
    border: dashed 2px #e0e0e0;
    font-family: 'Special Elite', monospace;
  }
  select
  {
    border: solid 2px #e0e0e0;
    background-image: none;
    background-color: white;
    font-family: 'Quattrocento', serif;
  }
}
h1,h2
{
  a
  {
    color: black;
    //text-decoration: none;
  }
}
label
{
  font-family: 'Quattrocento', serif;
}
li
{ 
  vertical-align: middle;
}
