#three_pictures
{
  img
  {
    width: 700px;
  }
  width: 700px;
  height: 304px;
  background-color: white;
  
}
#home_container
{
  width: 740px;
  //position: relative;
  
  //
  float: left;
  clear: both;
  //
  .news_image
  {
    width: 192px;
    margin: 12px;
    vertical-align: middle; 
  }
  div
  {
    border-style:solid;
    border-width:2px;
    border-color:#f0f0f0;
  }
}
.image_holder
{
  border-style: solid;
  padding: 3px;
  
}
#latest_news
{
  //position: absolute;
  width: 450px;
  //max-height: 540px;
  
  //
  float: left;
  //
  
  //background-color: white;
  padding: 10px;
  
}
#latest_present
{
  //position: absolute;
  //top: 505px;
  width: 450px;
  //max-height: 540px;
  padding: 10px;
  //background-color: white;
  
  //
  float: left;
  margin-top: 10px;
  //
}
#latest_shops
{
  //position: absolute;
  padding: 10px;
  //left: 490px;
  width: 230px;
  //height: 1000px;
  //background-color: white;
  
  //
  float: right;
  //
  
  .product_image
  {
    width: 220px;
    margin: 5px;
  }
}

#latest_things
{
  //position: relative;
  //top: 1080px;
  width: 740px;
  //height: 400px;
  //background-color: white;
  
  clear:both;
  
  float: left;
  margin-top: 10px;
  padding: 5px;
  border-style:solid;
  border-width:2px;
  border-color:#f0f0f0;
}

