.choices
{
  float: left;
  text-align: center;
  img
  {
    height: 200px;
  }
}

#choices_container
{
	float: left;
	width: 100%;
	clear: both;
	padding-bottom: 18px;
	.card
	{
		margin-right: 8px;
	}
}

.record_table
{
	table, tr, td, th
	{
		border: 1px solid black;
	}
	th
	{
		font-weight: bold;
		padding: 3px;
	}
	td
	{
		padding: 2px;
		text-align: center;
	}
}
