$column-color: #770011;

#admin_column
{
  margin: 20px auto;
  padding: 20px 20px;
  width: 740px;
  background-color: $column-color;
}

#admin_content
{
  padding: 20px;
  background-color: white;
}


body
{
  position: relative;
  font-family: 'Junge', serif;
}
h1,h2,h3,h4,h5,h6
{
  font-family: 'Vollkorn', serif;
  font-weight: normal;
}
#column
{
  position: relative;
  margin: auto;
  width: 740px;
  background-color: $column-color;
}
#header
{
  position: relative;
  padding: 20px;
  width: 740px;
  background-color: $column-color;
}
#content
{
  width: 740px;
  padding: 20px;
  float: left;
  background-color: $column-color;
}
#user
{
  position: absolute;
  top: 3px;
  right: 3px;
  background-color: rgba(255, 255, 255, 0.8);
}
nav
{
  li
  {
    display: inline;
    margin-left: 15px;
  }
  a
  {
    font-family: 'Vollkorn', serif;
    font-size: 18px;
  }
}
.story_container
{
  background-color: white;
  padding: 20px;
  margin-bottom: 10px;
  display: block;
  background-color: rgba(255, 255, 255, 1);
  .images
  {
    float: left;
    width: 100%;
    .main_image
    {
      //width: 400px;
      //height: 400px;
      padding: 2px;
      float: left;
    }
    .sub_image
    {
      //width: 198px;
      //height: 198px;
      padding: 2px;
      float: left;
    }
  }
  .story
  {

    display: block;
  }
}
