$column-color: white;

#admin_column
{
  margin: 20px auto;
  padding: 20px 20px;
  width: 740px;
  background-color: $column-color;
}

#admin_content
{
  padding: 20px;
  background-color: white;
  float: left;
  width: 100%;
}
#column
{
  position: relative;
  margin: auto;
  padding-top: 0px;
  width: 740px;
  background-color: $column-color;
  //border-style: none solid; 
}
#header
{
  position: relative;

  width: 740px;
  background-color: white;
}
#logo
{
  width: 480px;
  align: center;
  margin-left: 110px;
}
#content
{
  position: relative;
  width: 740px;
  margin: 0;
  padding: 20px;
  background-color: $column-color;
 //border-style: none solid; 
}
#user
{
  position: absolute;
  top: 3px;
  right: 3px;
  background-color: rgba(255, 255, 255, 0.8);
}
nav
{
  li
  {
    display: inline;
    margin-left: 15px;
  }
  a
  {
    font-family: 'Bentham', serif;
    font-size: 18px;
  }
}
section
{
  padding: 10px;
  margin-bottom: 10px;
  //border-style:solid;
  //border-width:2px;
  //border-color:#f0f0f0;
  background-color: white;
}
.story_container
{
  background-color: white;
  padding: 20px;
  margin-bottom: 10px;
  display: block;
  background-color: white;
  h2
  {
    text-align: center;
    margin: 5px;
    margin-bottom: 0px;
    padding-bottom: 0px;
  }
  p.story_date
  {
    text-align: center;
    margin-bottom: 8px;
    margin-top: 0px;
    font-size: 14px;
    font-family: 'Quattrocento', serif;
  }
  .permalink
  {
    font-size: 12px;
    margin-bottom: 0px;
  }
  .images
  {
    float: left;
    width: 100%;
    .main_image
    {
      //width: 400px;
      //height: 400px;
      padding: 2px;
      float: left;
    }
    .sub_image
    {
      //width: 198px;
      //height: 198px;
      padding: 2px;
      float: left;
    }
  }
  .story
  {

    display: block;
  }
}
.comments_link
{
  cursor: pointer;
}
