.shop_container
{
	float: left;
	padding-left:5px;
	padding-right:5px;
}
.shop_summary
{
	width: 320px;
	height: 320px;
	box-shadow: 4px 4px 2px #bbbbbb;
	border-radius: 3px;
	
	text-align: center;
}
.shop_window
{
	padding-top: 10px;
	img
	{
		width: 310px;
		height: 248px;
	}
}
.product_container
{
	float: left;
	padding-left:5px;
	padding-right:5px;
}
.product
{
	box-shadow: 4px 4px 2px #bbbbbb;
	border-radius: 3px;
	float: left;
	padding: 20px 14px 6px 14px;
	text-align: center;
}
.product_image
{
	height: 192px;
	overflow: hidden;
	img
	{
		width: 192px;
	}
}
.product_name
{
	float: left;
}
.product_card_price
{
	float: right;
}
#full_product
{
	float: left;
		position: relative;
}
#main_product_image
{
	width: 400px;
}
#product_images
{
	float: left;
	padding-right: 20px;
}
.product_title
{
	padding-top: 0px;
	margin-top: 0px;
}
#product_details
{
	float: left;
	width: 260px;
	height: inherit;

}
.product_price
{
}
.buy_now
{
	
}
#product_bottom
{
	position: absolute;
	width: 270px;
	bottom: 0px;
	right: 0px;
}
#logo_container
{
	
	text-align: center;
	img
	{
		margin-top: 180px;
		width: 400px;
	}
}