.shop_container
{
	float: left;
	padding-left:5px;
	padding-right:5px;
}

.shop_summary
{
	width: 320px;
	height: 320px;
	box-shadow: 4px 4px 2px #bbbbbb;
	border-radius: 3px;
	
	text-align: center;
}
.shop_window
{
	padding-top: 10px;
	img
	{
		width: 310px;
		height: 248px;
	}
}